<div class="container">
    <div class="topContainer">
        <div class="imageslider">
            <div class="imagecontainer"><img class="imageSrc" src="../assets/img1.jpg" alt="">
            <img class="imageSrc" src="../assets/img2.jpg" alt="">
            <img class="imageSrc" src="../assets/img3.jpg" alt=""></div>
        </div>
    </div>
    <h1 class="titlePage"> Contact Us</h1>
    <div class="complainContainer">
        <div class="complainContainerContent">
            <div class="imgcontainer"><img src="../../assets/Complain.png" alt="" class="complainImg"></div>
            <div class="complainTextContainer">
                <div class="ComplainTitle">For Complain & Suggestion</div>
                <div class="complainText">We’re here to help. Check out our FAQs,<br> send us an email or call us at 1 (800) 555-5555</div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
 