@import url("../main-page/main-page.component.css");
.container {
    position: relative;
    height: auto;
    width: 100%;
}

.complainContainer {
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}

.complainContainerContent {
    display: flex;
}

.complainImg {
    position: relative;
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.imgcontainer {
    height: 20%;
    width: 25%;
    object-fit: contain;
    margin-left: 10%;
}

.complainTextContainer {
    position: relative;
    flex: 1;
    padding-top: 6%;
}

.ComplainTitle {
    position: relative;
    font-size: 1.5vw;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.complainText {
    font-size: 1.2vw;
    position: relative;
    justify-content: center;
    text-align: center;
    line-height: 1.6;
}
.titlePage {
    margin-left: 5%;
    margin-top: 5%;
    font-size: 2vw;
    font-weight: bold;
}