<div class="container">
    <div class="topContainer">
        <div class="searchBar"><input type="text" placeholder="Find Mazdoor Here...." class="searchInput"><img src="../../assets/search.png" alt="" class="SearchIcon"></div>
        <div class="imageslider">
            <div class="imagecontainer"><img class="imageSrc" src="../assets/img1.jpg" alt="">
            <img class="imageSrc" src="../assets/img2.jpg" alt="">
            <img class="imageSrc" src="../assets/img3.jpg" alt=""></div>
        </div>
    </div>
    <app-latest-jobs></app-latest-jobs>
    <div class="serviceContainer">
        <div class="container1">
            <div class="containerTitle">Services we provide</div>
            <div class="serviceContainer1" *ngFor="let service of serviceArray">
                <div class="titleBg">{{service.catName}}</div>
                <div class="titlecontainer">
                </div>
                <img src="../../assets/Category/{{service.catImage}}" alt="" class="serviceSrc">
            </div>

        </div>
    </div>

    <div class="hiringContainer">
        <img src="../../assets/HiringSteps.jpg" alt="" class="hiringImg">
    </div>
    <div class="complainContainer">
        <div class="complainContainerContent">
            <div class="imgcontainer"><img src="../../assets/Complain.png" alt="" class="complainImg"></div>
            <div class="complainTextContainer">
                <div class="ComplainTitle">For Complain & Suggestion</div>
                <div class="complainText">We’re here to help. Check out our FAQs,<br> send us an email or call us at 1 (800) 555-5555</div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>